// Reset tag indents
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

// Reset the link underline
a {
  text-decoration: none;
}

// Reset list markers
ul,
ol {
  list-style: none;
}

// Reset link text-decoration & color

a {
  text-decoration: none;
  color: inherit;
}

// Reset display inline
img {
  display: block;
  max-width: 100%;
  height: auto;
  // object-fit: cover;
  // object-position: center;
}

// Reset display inline, forbid icon shrink
svg {
  display: block;
  flex-shrink: 0;
}
