<div class="genres">
  <ul class="genres__list">
    <li class="genres__item">
      <button class="genres__btn" id="28" type="button">Action</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="12" type="button">Adventure</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="16" type="button">Animation</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="35" type="button">Comedy</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="80" type="button">Crime</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="99" type="button">Documentary</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="18" type="button">Drama</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="10751" type="button">Family</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="14" type="button">Fantasy</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="36" type="button">History</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="27" type="button">Horror</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="10402" type="button">Music</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="9648" type="button">Mystery</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="10749" type="button">Romance</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="878" type="button">
        Science Fiction
      </button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="53" type="button">Thriller</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="10752" type="button">War</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="37" type="button">Western</button>
    </li>
    <li class="genres__item">
      <button class="genres__btn" id="10770" type="button">TV Movie</button>
    </li>
  </ul>
</div>
