<header class="header--library">
  <div class="container header__container">
    <nav class="navigation">
      <a class="logo link logo__list" href="./index.html">
        <svg class="logo__icon" height="24" width="24">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link link">Home</a>
        </li>
        <li class="navigation__item">
          <a
            href="./watched.html"
            class="navigation__link navigation__link--current link"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <div class="button__box">
      <button
        class="button button__library button-active watched_button"
        type="button"
      >
        Watched
      </button>
      <button class="button button__library queue_button" type="button">
        Queue
      </button>
    </div>
  </div>
</header>
