<div class="backdrop__team is-hidden">
  <div class="container modal__team">
    <button class="modal__close modal__close-btn" type="button">
      <svg class="modal__close-icon" width="26" height="26">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <section class="m-team">
      <h2 class="m-team__title">Our team</h2>
      <ul class="m-team__list">
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Kyrylo_Sulihan.jpg"
                alt="Team Lead"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Kyrylo Sulihan</h3>
            <p class="m-team__job-title">Team Lead</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:paulhighrow@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/PaulHighrow"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.linkedin.com/in/kyrylo-sulihan-22533787/"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.facebook.com/paulhighrow"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Valeriia_Bieliavska.jpg"
                alt="Scrum Master"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Valeriia Bieliavska</h3>
            <p class="m-team__job-title">Scrum Master</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:valeriya150795@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/valeriiabieliavska"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.facebook.com/profile.php?id=100017313420936"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/modal-team/Oksana_Dzoba.jpg" alt="Developer" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Oksana Dzoba</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:dzobaoksana1993@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/Oksanka15"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Oleksandr_Shcherbakov.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Oleksandr Shcherbakov</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:userkosiv4@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.github.com/Olexandr5"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.linkedin.com/in/olexandr-sherbakov-990428259"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Tetiana_Datsenko.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Tetiana Datsenko</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:datsenkotetiana027@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/DatsenkoTetiana"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.linkedin.com/in/%D1%82%D0%B0%D1%82%D1%8C%D1%8F%D0%BD%D0%B0-%D0%B4%D0%B0%D1%86%D0%B5%D0%BD%D0%BA%D0%BE-95b41a244"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Vadym_Korobets.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Vadym Korobets</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:_s_e_t__@ukr.net"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/VadimKorobec"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Kateryna_Solodilova.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Kateryna Solodilova</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:kiivikat@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/KiiviKat"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Tamara_Kosiachenko.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Tamara Kosiachenko</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:toma.k1402@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/Toma1402"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.linkedin.com/in/toma-k-frontend/"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://www.facebook.com/profile.php?id=100006629327100"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Natalia_Samulik.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Natalia Samulik</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:nataliasamulik88@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/NataliaSamulik"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/modal-team/Iryna_Somyuk.jpg" alt="Developer" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Iryna Somyuk</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:iryna.somuyk@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/Iryna-Somyuk"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Vitalii_Pryvedeniuk.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Vitalii Pryvedeniuk</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:privedenyuk2006@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/Vitaliy117979"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Oleksandra_Liubchenko.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Oleksandra Liubchenko</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a
                  href="mailto:lassandra85@gmail.com"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a
                  href="https://github.com/lassandra85"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item is-hidden">
                <a
                  href="#"
                  class="social-list__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
