<div class="backdrop is-hidden">
  <div class="modal">
    <!-- <button class="close-modal" type="button">
      <svg class="modal-icon" width="30" height="30">
        <use href="./image/icons.svg#close"></use>
      </svg>
    </button> -->
    <div class="tabl-group">
      <div class="img"></div>
      <!-- <img src="" alt="poster" width="240" height="357"/> -->
      <div class="description-group">
        <h2 class="modal-title">A FISTFUL OF LEAD</h2>
        <ul class="data-list">
          <li class="data-item">
            <p class="data-title">Vote / Votes</p>
            <p class="data-value">
              <span class="vote-value">7.3</span> /
              <span class="votes-value">1260</span>
            </p>
          </li>
          <li class="data-item">
            <p class="data-title">Popularity</p>
            <p class="data-value">100.2</p>
          </li>
          <li class="data-item">
            <p class="data-title">Original Title</p>
            <p class="data-value">A FISTFUL OF LEAD</p>
          </li>
          <li class="data-item">
            <p class="data-title">Genre</p>
            <p class="data-value">Western</p>
          </li>
        </ul>
        <h2 class="description-title">About</h2>
        <p class="description-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <button class="btn-modal btn-modal-watched" type="button">
          add to Watched
        </button>
        <button class="btn-modal btn-modal-queue" type="button">
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>
