<div class="backdrop__team is-hidden">
  <div class="container modal__team">
    <button class="modal__close modal__close-btn" type="button">
      <svg class="modal__close-icon" width="26" height="26">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <section class="m-team">
      <h2 class="m-team__title">Our team</h2>
      <ul class="m-team__list">
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Kyrylo_Sulihan.jpg"
                alt="Team Lead"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Kyrylo Sulihan</h3>
            <p class="m-team__job-title">Team Lead</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Valeriia_Bieliavska.jpg"
                alt="Scrum Master"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Valeriia Bieliavska</h3>
            <p class="m-team__job-title">Scrum Master</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img src="./images/modal-team/Oksana_Dzoba.jpg" alt="Developer" />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Oksana Dzoba</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Oleksandr_Shcherbakov.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Oleksandr Shcherbakov</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Tetiana_Datsenko.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Tetiana Datsenko</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Vadym_Korobets.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Vadym Korobets</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/Kateryna_Solodilova.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Kateryna Solodilova</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/default_avatar.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Default Default</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/default_avatar.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Default Default</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/default_avatar.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Default Default</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/default_avatar.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Default Default</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/default_avatar.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Default Default</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="m-team__item">
          <div class="project__card-thumb">
            <picture>
              <img
                src="./images/modal-team/default_avatar.jpg"
                alt="Developer"
              />
            </picture>
          </div>
          <div class="m-team__box">
            <h3 class="m-team__name">Default Default</h3>
            <p class="m-team__job-title">Developer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="22" height="22">
                    <use href="./images/sprite.svg#email-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#git-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#linkedin-team"></use>
                  </svg>
                </a>
              </li>

              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/sprite.svg#facebook-team"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
