.darkmode--activated body {
  background-color: #0084dc;
  & .tui-is-selected {
    color: white;
  }
}

button.darkmode-toggle {
  z-index: 25;
  background-color: #1e2125;
}
button.darkmode-toggle--white {
  background-color: white;
}
// div.darkmode-layer--button {
//   // bottom: 39px;
// }
.darkmode--activated {
  & .tui-page-btn {
    color: white;
  }
  & .tui-pagination {
    color: white;
  }
  & div.tui-pagination {
    color: white;
  }
  & .tui-pagination .tui-page-btn:hover {
    color: #92ee1a;
    border-radius: 5px;
  }

  & .tui-is-selected {
    background: #0084dc;
  }

  & .button__library:hover,
  .button__library:focus {
    background: #0084dc;
    border-color: #0084dc;
  }
  & .up-btn-wrapper:hover,
  .up-btn-wrapper:focus {
    color: #0084dc;
  }
  & .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    background-color: #0084dc;
    border-color: #0084dc;
  }
  & .modal {
    border-radius: 15px;

    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgb(109, 103, 103)
    );

    color: #030203;
  }
  & .close-btn {
    background-color: transparent;
    color: rgb(225, 223, 231);
  }
  & .modalMovie__title {
    color: #50321d;
  }
  & .modalMovie__data-title {
    color: #5c534c;
  }
  & .modalMovie__description-title {
    color: #7a3f0e;
  }
  & .modalMovie__description-text {
    color: #080808;
  }
  & .modal__team {
    border-radius: 15px;

    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgb(109, 103, 103)
    );
  }
}
