.backdrop__team {
  z-index: 10;
  position: fixed;
  opacity: 1;
  visibility: visible;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal__team {
  z-index: 5;

  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;

  background-color: rgba(245, 244, 250, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.m-team {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

.m-team__title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}
