.trailerBtnWrap {
  cursor: pointer;
  width: 100%;

  transform-style: preserve-3d;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  transition: transform 0.15s, box-shadow 0.15s;
  margin-top: 8px;
}
.trailer-btn {
  border: none;
  background-color: #f0f0f0;
  color: var(--main-color);
  width: 110px;
  height: 44px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  cursor: pointer;
  margin-left: 25%;
  border: 2px solid var(--main-color);
}
#ytplayer {
  width: 100%;
  height: 360px;
  border-radius: 4px;
  margin-top: 20px;
}
