
.genres {
  // position: relative;
  // z-index: 25;
}

// .genres__list {
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   gap: 5px;
//   display: flex;
//   flex-wrap: wrap;

//   margin-bottom: 25px;
//   margin-top: 20px;
// }

.genres__list {
  background-color: transparent;
  // z-index: 1;

  position: absolute;
  top: 80;
  right: calc(((100vw - 120px) / 2));


  @media screen and (min-width: 768px) {
    right: calc(((100vw - 566px) / 2));
  }

  @media screen and (min-width: 1280px) {
    right: calc(((100vw - 1080px) / 2));
  }
}

.genres__item {
}

.genres__btn {
  position: relative;
  z-index: 1;
  transition: var(--animation-global);
  display: block;
  width: 100%;
  padding: 10px;

  background-color: #fff;
  // color: whitesmoke;
  color: #0f171d;
  text-align: center;
  border: none;
}

.genres__btn:hover,
.genres__btn:focus {
  color: #ffffff;
  background-color: #ff6b01;
  box-shadow: (0px 4px 10px rgba(255, 107, 1, 0.6));
}

.genres {
  display: none;
}

.genres--shown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__filter {
  cursor: pointer;
  border: none;
  background-color: transparent;
  align-items: center;

  padding: 5px;
}

.filter__icon {
  fill: currentColor;
}

.navigation__filter:hover,
.navigation__filter:focus {
  fill: #ff001b;
}
