// фонове зображення

.header {
  height: 230px;
  background-color: #000;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/header-home/home-mobile@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/header-home/home-mobile@2x.jpg);
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  & {
    @media screen and (min-width: 768px) {
      height: 216px;
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-home/home-tablet@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-home/home-tablet@2x.jpg);
    }
  }

  & {
    @media screen and (min-width: 1280px) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/header-home/home-laptop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/header-home/home-laptop@2x.jpg);
      }
    }
  }
}

// контейнер

.header__container {
  padding: 40px 20px 0px 20px;
}

// логотип

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  fill: currentColor;
  animation-name: myAnim;
  animation: myAnim 2s ease 0s 1 normal forwards;

  @keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-45px);
    }

    24% {
      opacity: 1;
    }

    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }

    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }

    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }

    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }

    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@media screen and (min-width: 768px) {
  .logo__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .logo__icon {
    margin-right: 10px;
  }
}

.logo__name {
  display: none;
  transition-duration: 200ms;
}

.logo:hover .logo__name,
.logo:focus .logo__name {
  text-shadow: 0px 5px 15px rgb(193, 191, 191);
}

@media screen and (min-width: 768px) {
  .logo__name {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    display: inline;

    color: #ffffff;
  }
}

// навігація

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ffffff;
}

.navigation__link::after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff001b;

  opacity: 0;

  transition-duration: 200ms;
}

.navigation__link:hover::after {
  opacity: 1;
}

.navigation__link--current::after {
  opacity: 1;
}

// форма пошуку

.search {
  margin-top: 54px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .search {
    margin-top: 47px;
  }
}

.search__form {
  position: relative;
}

.search__input {
  width: 280px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;

  animation-name: input;
  animation: input 1s ease 0s 1 normal none;

  @keyframes input {
    0% {
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .search__input {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .search__input {
    width: 394px;
  }
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #ffffff;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0px 5px 5px -3px rgb(193, 191, 191);
}

.search__button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: inherit;
  border: none;
  animation-name: btnAnim;
  animation: btnAnim 1s ease 0s 1 normal forwards;
  transition-duration: 200ms;
}

.search__button:hover,
.search__button:focus {
  @keyframes btnAnim {
    0% {
      transform: scale(2);
    }

    100% {
      transform: scale(1);
    }
  }
}
